{% extends 'navBar.html' %}

{% block style %}
 
  /* Full-width inputs */
  input[type=text], input[type=password],textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #FF0000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  

  /* Add padding to containers */
  .container {
    margin-top:5%;
    margin-bottom:5%;
    margin-left:25%;
    margin-right:25%;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
{% endblock style %}


{% block navBar %}

<form method="POST">
    {% csrf_token %}

    <div class="container">
      <h1>Post</h1>  
      <label for="uname"><b>Blog Title</b></label>
      <input type="text" placeholder="Enter Title" name="btitle" value="{{ post.tital }}" >
  
      <label for="des"><b>Post Description</b></label>
      <textarea type="text" placeholder="Enter Description" name="des" >{{ post.des }}</textarea>
  
      <button type="submit">Delete</button>
    </div>

  </form>

{% endblock navBar %}



